.container {
	width: 1000px;
	margin: 0 auto;
}

header {
	border-bottom: 2px solid black;
	font-size: large;
	font-weight: bold;
}

#left, #right {
	float: left;
}

#left {
	width: 200px;
}
#right {
	width: 800px;
}

.photo {
	width: 160px;
	height: 160px;
	background-color: #ddd;
	margin: 10px auto;
	background-size: cover;
	background-position: 50% 50%;
}

.player {
	width: 180px;
	height: 210px;
	display: inline-block;
	text-align: center;
	background-color: black;
	color: white;
	border: 2px solid black;
	margin-bottom: 5px;
}

.player.new {
	background-color:  white;
	color: black;
}

body > div.container {
	margin-top: 10px;
}

a {
	color: black;
}

.label {
	display: inline-block;
	width: 200px;
	text-align: right;
	padding-right: 20px;
}

.selected {
	font-weight: bold;
}
