{% extends 'layout.html' %}

{% block title %} Update Player {% endblock %}

{% block menu %}

	<li class='menu-text'>{{ player.name }}</li>

{% endblock %}

{% block body %}
	<div class='row'>	
		<div class='medium-6 medium-offset-3'>
			{% if player.photo %}
				<div class='photo' style='background-image:url(/static/img/{{ player.photo }})'></div>
			{% else %}
				<div class='photo'></div>
			{% endif %}
		
			<label for='name'>Sport</label>
			<input type='text' name='name' readonly value='{{ sport.name }}'/>

			<label for='dob'>Date of birth</label>
			<input type='date' name='dob' readonly value='{{ player.dob }}'/>

			{% if admin %}
			<a href = "{{url_for('updatePlayer', player_id = player.id)}}" class='button'>Update</a> 
			<a href = "{{url_for('deletePlayer', player_id = player.id)}}" class='button alert'>Delete</a>
			{% endif %}
			<a href = "{{ url_for('sports', sport_id = sport_id) }}" class='button warning'>Cancel</a>
		</div>			
	</div>
{% endblock %}