{% extends 'layout.html' %}

{% block title %} Sports {% endblock %}

{% block head %}	

	<!-- Google Authentication -->
	<script src="//apis.google.com/js/platform.js?onload=start"></script>

{% endblock %}

{% block menu %}

	<li class='menu-text'>SA Sports</li>					
	{% for i in sports %} 
	<li>
	{% if i.id == sport_id|int %}
		<a class='selected' href = "{{ url_for('sports', sport_id = i.id ) }}">{{ i.name }}</a>
	{% else %}
		<a href = "{{ url_for('sports', sport_id = i.id ) }}">{{ i.name }}</a>
	{% endif %}
	</li>
	{% endfor %}
	{% if profile_picture %}
	<li>
		<a class='button' href="{{ url_for('newPlayer', sport_id = sport_id) }}">Create new player</a>
	</li>
	{% endif %}

{% endblock %}

{% block body %}

	<div class='row'>
		<div class='column small-up-1 medium-up-2 large-up-3'>
		{% for i in players %} 		
			<div class='column'>
				<div class='callout'>					
					{% if i.photo %}
						<div class='photo' style='background-image:url(/static/img/{{ i.photo }}'></div>
					{% else %}
						<div class='photo'></div>
					{% endif %}						
					<div class='player'>
						<a href='{{ url_for('getPlayer', player_id=i.id) }}'>{{ i.name }}</a>
					</div>
				</div>
			</div>
		{% endfor %}	
		</div>			
	</div>

{% endblock %}