{% extends 'layout.html' %}

{% block title %} Update Player {% endblock %}

{% block menu %}

	<li class='menu-text'>Update Player</li>

{% endblock %}

{% block body %}

	<div class='row'>
		<form action="#" method = 'post' enctype="multipart/form-data">
			<div class='medium-6 medium-offset-3'>
				<label for='name'>Name</label>
				<input type='text' name='name' placeholder='{{ player.name }}'/>

				<label for='photo' class='button secondary'>Upload new photo</label>	
				<input type='file' class='show-for-sr' id='photo' name='photo'/>
			
				<label for='dob'>Date of birth</label>
				<input type='date' name='dob' placeholder='{{ player.dob }}'/>
										
				<input type='submit' class='button' value='Update'/>	
				<a href = "{{ url_for('sports', sport_id = sport_id) }}" class='button warning'>Delete</a>
			</div>
		</form>
	</div>

{% endblock %}